body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0; /* ลบ margin ของ body */
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #333;
    padding: 15px 20px;
    color: white;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
}

.user-info {
    position: relative;
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: 40px;
    cursor: pointer;
}

.user-image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.user-details {
    display: flex;
    flex-direction: column;
    margin-right: 10px;
}

#user-name {
    font-size: large;
    text-align: right;
}

#user-ID {
    font-size: small;
    text-align: right;
}

/* Dropdown content styling */
.dropdown-content {
    display: none;
    position: absolute;
    top: 60px; /* Adjust to align below the navbar */
    right: 0;
    background-color: #fff;
    min-width: 160px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 3;
    border-radius: 5px;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

/* Sidebar */
.menu-sidebar {
    position: fixed;
    top: 50px;
    left: 0;
    width: 200px;
    height: calc(100% - 60px);
    background-color: #444;
    padding-top: 20px;
    color: white;
}

.menu-sidebar a {
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    color: white;
}

.menu-sidebar a:hover {
    background-color: #575757;
}

main {
    margin: 100px 250px 0;
}

main h1 {
    text-align: left;
}

.menu-petition a {
    display: block;
    padding: 20px 15px;
    margin-bottom: 10px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 20px;
    color: rgb(0, 0, 0);
    background-color: #838383;
}

.menu-petition :hover {
    transition: 200ms;
    background-color: #575757;
}